# ============================================
# Identity Provider (IdP) Configuration
# ============================================
IDP_ISSUER_URI=https://vsv-crystal.skygroup.local/auth/realms/test-realm

# ============================================
# Database Configuration
# ============================================
DB_NAME=my-books-db
DB_URL=jdbc:mysql://my-books-db:3306/my-books-db
DB_USER=root
DB_PASSWORD=password